.titulo {
    background-color: red;
    margin: 0;
    padding: 0;
    top: 0;
}
#home_navegadores, #home_desarrollo {
    background-color: azure;
    width: 100%;
    height: 50vh;
}
#home_desarrollo {
    margin-top: 50px;
    margin-bottom: 20px;
}
.home_datos {
    background-color:aquamarine;
    height: 50%;
    width: 100%;
    display: flex;
    ;
}
.home_descripcion {
    background-color: antiquewhite;
    height: 0%;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    /*Mirar como quitar el margen de los contenedores*/
}
.introducción {
    background-color: rgb(162, 133, 133);
    width: 50%;
    height: 90%;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:2%
}
.foto {
    background-color: blue;
    width: 50%;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:2%
}
.home_descripcion {
    

}